
/*-----------*/



  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding: 20px;
  }
  
  .nav-header .NavDropDown{
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
    color: #383e42;
  }
  
  .nav-header a:hover {
    color: #4285f4;
    transition: all 0.3s ease;
  }
  
  .english-btn {
    border: 1px solid #4b5054;
    border-radius: 5px;
    background: #f8f9fa;
    height: 40px;
    width: 138px;
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
  }
  
  .english-btn:hover {
    color: #4285f4;
  }
  
  .dropdown-menu .dropdown-item:hover {
    color: #4285f4;
    background-color: #f0f8ff;
  }
  
  .english-btn i {
    font-size: 12px;
    margin-left: 5px;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .dropdown.show .english-btn i {
    transform: rotate(180deg);
  }
  
  @media (max-width: 992px) {
    .custom-hamburger-menu {
      display: none;
    }
  }
  
  .custom-hamburger-menu {
    margin-left: auto;
    display: flex;
  }
  
  @media (max-width: 492px) {
    .custom-hamburger-menu:not(.d-lg-none) {
      display: none;
    }
  
    .custom-hamburger-menu.d-lg-none {
      display: flex;
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 992px) {
    .custom-hamburger-menu:not(.d-flex) {
      display: none;
    }
  }
  