.apyBackground{
    background: transparent linear-gradient(0deg, #E3EDFE00 0%, #E3EDFE 100%) ;
/* background-image:url(/src//app/assets/cal-bg.svg) !important; */
}

.apypreHeading h1{
    font-family: "Poppins-SemiBold";
    font-size: 42px;
    color: #1F1A17;
    text-align: left;
}

.apypreHeading p{
    font-family: "Poppins-Regular";
    color: #1F1A17;
    font-size: 16px;
}

.subHeading h1 {
    font-size: 42px;
    font-family: "Poppins-SemiBold";
    color: #383e42;
    padding: 50px 0;
  }

.togglebtngroup{
  border-radius: 2px solid white Im !important;
  outline: none !important;
}

.togglebtngroup .ToggleButton{
outline: none;
border: 1px solid #DBDFE5;
border-radius: 50px;
}

/* .togglebtn{
  color: #1F1A17 !important;
}
*/
  
.custominput::-webkit-outer-spin-button,
.custominput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    /* padding: 20px; */
    border-right: 4px solid #EAEFF5;
  }
  .sidebarItem {
    padding: 0px 0px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    /* border-right: 1px solid; */
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    text-align: left;
  }

  
.qandA {
    padding: 0px 20px;
  }
  
  .quesAnsSection h3 {
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .quesAnsSection p {
    font-family: "Poppins-Regular";
    color: #707070;
    font-size: 16px;
  }
  
  .accordionHeader {
    color: #1f1a17;
    font-family: "Poppins-SemiBold";
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    border: none !important;
    background-color: transparent;
  }
  
  .accordionbody {
    font-family: "Poppins-Regular";
    color: #707070;
    font-size: 16px;
  }
  
  .rangefield{
    font-size: 18px;
    font-family: "Poppins-Regular";
    color: #1F1A17;
  }

  .rangefield input{
    color: #1f1a17;
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    width: 50px; 
    text-align: right;
  }

  .rangefield span{
    color: #1f1a17;
    font-family: "Poppins-SemiBold";
    font-size: 24px;
  }