.hraContainer {
  /* background: transparent linear-gradient(0deg, #E3EDFE00 0%, #E3EDFE 100%) ; */
  background: transparent linear-gradient(0deg, #e3edfe00 0%, #e3edfe 100%) 0%
    0% no-repeat padding-box;
}


.gstpreHeading h1 {
  font-family: "Poppins-SemiBold";
  font-size: 42px;
  color: #1f1a17;
  text-align: left;
}

.gstpreHeading p {
  font-family: "Poppins-Regular";
  color: #1f1a17;
  font-size: 16px;
}

.subHeading h1 {
  font-size: 42px;
  font-family: "Poppins-SemiBold";
  color: #383e42;
  padding: 50px 0;
}

.custominput::-webkit-outer-spin-button,
.custominput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .rangecustominput input[type="number"]::-webkit-outer-spin-button,
.rangecustominput input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.custominput {
  width: 70px;
  text-align: right;
  outline: none;
}

.rangefield {
  font-size: 18px;
  font-family: "Poppins-Regular";
  color: #1f1a17;
  display: flex;
  align-items: center;
}

.rangefield span {
  color: #272d34;
  font-size: 24px;
  color: #4279f4;
  font-family: "Poppins-SemiBold";
  background: #d3eafe 0% 0% no-repeat padding-box;
  text-align: end;
  line-height: 1.5;
  display: inline-block;
}

.rangefield input {
  background: #d3eafe 0% 0% no-repeat padding-box;
  font-size: 24px;
  font-family: "Poppins-SemiBold";
  color: #4279f4;
  width: 90px;
  outline: none;
  text-align: right;
  line-height: 1.5;

}

.hra_radio_button label{
color: #1F1A17;
font-family: "Poppins-Regular";
font-size: 18px;
}



/* .totalGst{
  max-width: 300px;
  width: 100%;
} */

.cardbottom {
  background: #f0f6ff;
}

.cardbottom h6 {
  color: #1f1a17;
  font-family: "Poppins-SemiBold";
  font-size: 18px;
}

.cardbottom p {
  color: #1f1a17;
  font-family: "Poppins-Regular";
  font-size: 18px;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 120px;
  /* padding: 20px; */
  border-right: 4px solid #EAEFF5;
}
.sidebarItem {
  padding: 0px 0px 10px;
  cursor: pointer;
  margin-bottom: 10px;
  /* border-right: 1px solid; */
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  text-align: left;
}

.qandA {
  padding: 0px 20px;
}

.quesAnsSection h3 {
  font-family: "Poppins-SemiBold";
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.quesAnsSection p {
  font-family: "Poppins-Regular";
  color: #707070;
  font-size: 16px;
}

.faq_Heading h1 {
  color: #383e42;
  font-family: "Poppins-SemiBold";
  font-size: 42px;
}

.accbtn {
  background-color: transparent !important;
  color: #1f1a17 !important;
  font-size: 24px !important;
  font-family: "Poppins-SemiBold";
  font-weight: 600 !important;
}

.accbtn:not(.collapsed) {
  color: #1f1a17 !important;
}

.accbtn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.acco_body {
  color: #707070;
  font-size: 20px;
}
